[submodule "submodule-1"]
	path = .modules/submodule-1
	url = https://github.com/evhena/submodule-1.git
[submodule "submodule-2"]
	path = ./public/submodule-2
	url = https://github.com/evhena/submodule-2.git
[submodule "example-submodule"]
	path = example-submodule
	url = https://github.com/githubtraining/example-submodule.git
[submodule "src/subm"]
	path = src/subm
	url = git@github.com:evhena/submodule-2.git
